<!DOCTYPE HTML>
<html>
<head>
<meta charset="euc-kr">
<title>HTML</title>
<style type="text/css">
body {
    background-color: #e7e7e7;
}
div {
    margin : 10px;
}
</style>
</head>
<body>
    <form action="./organization/read.html" th:action="@{/organization/read}" method="get">
        <div>아이디 : <br/><input type="text" name="id" value=""></div>
        <div>비밀번호: <br/><input type="text" name="pwd" value=""></div>
        <div><input type="submit" value="Submit"></div>
    </form>
</body>
</html>

