<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
    <head>
        <script src="../static/css/jquery.min.js" th:src="@{/css/jquery.min.js}"> </script> 
    </head>
    <body>
        <a href="./member/list.html" th:href="@{/member/list}"> Member List</a>
        <a href="./member/login.html" th:href="@{/member/login}"> login</a>
        <a href="./member/logout.html" th:href="@{/member/logout}"> logout</a>
        <a href="./member/signin.html" th:href="@{/member/signin}"> signin</a>
        <a href="./member/boardlist.html" th:href="@{/member/list}"> boardlist</a>
        <a href="./member/edit.html" th:href="@{/member/edit}"> edit</a>
        <a href="./member/delete.html" th:href="@{/member/delete}"> delete</a>
        <a href="./member/view.html" th:href="@{/member/view}"> view</a>
        <a href="./organization/" th:href="@{/organization/read}"> read</a>

    </body>
</html>